<!doctype html>

<html>
<head>
    <title>CV_app</title>
<style type= "text/css">
       body{
	   background-image:url(toll.jpg);
	   background-repeat: no-repeat;
	   background-position: 50% 200px;
	   background-color: rgba(0, 119, 255, 0.267);
	   }

</style>
</head>
<body>
	<h1>Live Streaming</h1>
    <p>HELLO WORLD</p>
        <div>
            <img src = "{{ url_for('video') }}" width="25%"/>
        </div>
        <div>
            <img src = "{{ url_for('video2') }}" width="25%"/>
        </div>

</body>
</html>